<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://admincrd.com:8000');
    socket.on('conectados', function (data) {
        console.log(data);
        $("#conectados").html("conectados: "+data.length);
    });
    socket.on('connect', function () {
        $("#datos").html("<li>conectado</li>");
    });
    socket.on('respuesta', function (data) {
       var datos = JSON.parse(data);
       // {"emisor": result[0].emisor ,"mensaje":result[0].mensaje,"fecha": result[0].fecha }
       if(datos.emisor===1){
          $("#datos").html($("#datos").html() + '<li  style="background-color: blue; color: white;">' + datos.mensaje + "</li>"); 
       }else{
          $("#datos").html($("#datos").html() + '<li style="background-color: grey; color: black;">' + datos.mensaje + "</li>");
       }
        
    });
    function envio() {
        socket.emit('mensaje',  $('#m').val());
        $('#m').val('');
    }
    function login() {
        socket.emit('login', JSON.stringify({"chat":$('#login').val(), "emisor": 2}));
    }
    function cerrar() {
        socket.emit('cerrar', $('#login').val());
    }



    socket.on('disconnect', function () {
        $("#datos").html("desconectado");
    });
    //var socket = io();
</script>
<div id="conectados"> usuarios conectados : 
    
</div>
<ul id="datos"></ul>
<div>escribe un mensaje
    <input id="m" autocomplete="off" />
    <button onclick="envio()">enviar</button>
</div>
<div>nombre de usuario 
    <input id="login" autocomplete="off" />
    <button onclick="login()">enviar</button>
    <button onclick="cerrar()">cerrar</button>
    </div>
    
</div>

